.localisation {
    display: flex;
    justify-content: center;
    padding: $appPadding;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;
    &_icon {
        margin-right: 1em;
    }
    &_text {
        font-weight: 700;
    }
}

.find {
    padding: 2rem;
    text-align: center;
    background-color: rgb(250, 250, 250);
    &_mainTitle {
        margin: 0;
    }
    &_subtitle {
        font-weight: 300;
        margin: 1.5rem 0;
    }
    &_button {
        @include button(primary);
    }
}